In [1]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
rating = pd.read_csv("data.csv",index_col=0)

In [6]:
rating

       action1  action2  action3  romantic1  romantic2  romantic3
user1      4.0      5.0      3.0        NaN        2.0        1.0
user2      5.0      3.0      3.0        2.0        2.0        NaN
user3      1.0      NaN      NaN        4.0        5.0        4.0
user4      NaN      2.0      1.0        4.0        NaN        3.0
user5      1.0      NaN      2.0        3.0        3.0        4.0

In [7]:
rating = rating.fillna(0)

In [8]:
rating

       action1  action2  action3  romantic1  romantic2  romantic3
user1      4.0      5.0      3.0        0.0        2.0        1.0
user2      5.0      3.0      3.0        2.0        2.0        0.0
user3      1.0      0.0      0.0        4.0        5.0        4.0
user4      0.0      2.0      1.0        4.0        0.0        3.0
user5      1.0      0.0      2.0        3.0        3.0        4.0