In [1]:
import pandas as pd

In [4]:
ratings = pd.read_csv("ratings.csv")
movies = pd.read_csv("movies.csv")

In [8]:
rating = pd.merge(movies,ratings).drop(['genres','timestamp'],axis=1)

In [9]:
rating.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5